.menu{
    background-color: #fd5100; position: sticky; top: 0; z-index: 1;

  }
  /* Typography */
body, ul, li, a, p, label, input, div {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
  .h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px !important;
    font-weight: 300 !important;
  }
  .h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
  }
  .h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
  }

  /* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #1177BB!important;}
.text-success { color: #fff !important;}
.text-light { color: #1177BB !important;}
.bg-dark { background-color: #d4d3d3 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #d4d3d3 !important;}
.bg-success { background-color: #fd5100 !important;}
.btn-success {
  background-color: #fd5100 !important;
  border-color: #fd5100 !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #fd5100;
  color: #fff;
}
/* Nav */
#templatemo_nav_top { min-height: 20px;}
#templatemo_nav_top * { font-size: .5em !important;}
#templatemo_main_nav a { color: #fff;}
#templatemo_main_nav a:hover { color: #d4d3d3;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #d4d3d3 !important;}
/* Accordion */
.templatemo-accordion a { color: #1177BB;}
.templatemo-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: #212934 !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
  }
  .brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  /* Carousel Hero */
  #template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #fd5100;
  }
  #template-mo-zay-hero-carousel .carousel-control-next i,
  #template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #fd5100 !important;
    font-size: 2.8em !important;
  }
  /* Carousel Brand */
.tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
  }
  /* Footer */
#footer a { color: #1177BB;}
#footer a:hover { color: #fd5100;}
#footer ul.footer-link-list li { padding-top: 10px;}
#footer ul.footer-icons li {
  width: 2em;
  height: 2em;
  line-height: 2em;
}
#footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#footer ul.footer-icons li:hover i {
  color: #1177BB;
  transition: .5s;
}
#footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
    font-size: 12px !important;
  }
  .product-wap .product-color-dot {
    width: 6px;
    height: 6px;
  }
  
  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 { font-size: 1em !important;}
    .btn-search{
      width: 50%; margin:auto;
    }

  }
  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }

  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-zay-hero-carousel .carousel-item {height: 40rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
    .carrito{
      margin-left: 30%;
    }
    .icono{
      font-size: 1.5rem;

     }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 600px) {
  .carrito{
    margin-left: 40%;
  }
  .btn-search{
     margin:auto;
     width:65%;
  }
  .descuento{
    height: 200px;
  }

}

.navbar a{
    margin: 1rem;

}
.navbar-nav .dropdown-menu {
  float: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  margin-top: 0;
  transform: none !important;
  background-color: #fd5100; position: sticky; top: 0;
  }
  .img-behind {
    z-index: -1;
  }
  .logo{
    width: 2rem;
  }


.text-muted{
  font-size: medium;
}.opciones{
  margin: auto;
}
.opciones:hover{
  border-bottom: 5px solid #fd5100;
}
.opciones:active{
  border-bottom: 5px solid #fd5100;
}
/* SECCION DE LOGIN*/
